$especial-texts: #ffff00; //fundo azul texto amarelo 
$especial-texts-2: #fff;
$all-texts: #222b8e;

$button-leca: #24edd5;
$button-especial: #2cde2c;
$button-arte: #f19c05;
$button-infantil: #2195e3;
$button-fundamental: #A965e8;
$button-integral: #ff9de4;
$button-all: #ffff00; // -> mais escura / #ffdd00 -> mais clara
$button-edFisica: #C3bbbb;

$background: #02559B;
$titles: #0C0C0D;
$sub-titles: #2a2a2e;