$especial-texts: #ffff00;
$especial-texts-2: #fff;
$all-texts: #414142;

$button-leca: #24edd5;
$button-especial: #2cde2c;
$button-arte: #f19c05;
$button-infantil: #2195e3;
$button-fundamental: #a965e8;
$button-integral: #ff9de4;
$button-all: #ffff00;
$especial-buttons: #ffbb00;
$button-edFisica: #c3bbbb;

$background: #02559b;
$titles: #0c0c0d;
$sub-titles: #0c0c0d;
