$especial-texts: #ffff00; //fundo azul texto amarelo
$all-texts: #222b8e;
$effects-lists: #fff;

$button-leca: #24edd5;
$button-especial: #2cde2c;
$button-arte: #f19c05;
$button-infantil: #2195e3;
$button-fundamental: #A965e8;
$button-integral: #ff9de4;
$button-all: #f9f942;
$button-edFisica: #C3bbbb;

$background: #4612c0;
$titles: #0C0C0D;
$sub-titles: #2a2a2e;